#container{
    width: 700.5px;
    text-align: justify;
    background-color: #fff;
    margin: auto;
}

body{
    background-color: #cccccc;
    font-family: Verdana;
    font-size: 11px;
    margin: 0;
}

p:first-letter{
    color: blue;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Times New Roman';
}

#content{
    width: 700.5px;
    height: 300px;
    float: left;
    background-color: #FFF;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    text-transform: uppercase;
}

li{
    display: inline;
    float: left;
}

a{
    padding: 0 10px 0 10.79px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    float: left;
    display: block;
    background-image: url(https://raw.githubusercontent.com/KateS-9/css_lesson3/main/images/nb.gif);
    background-repeat: repeat-x;
}

a:hover{
    color: #333;
}

a:visited{
    color: #333;
}

h1{
    background-color: #b0b0b0;
    padding-bottom: 9px;
    padding-top: 16px;
    margin-bottom: 0;
    margin-top: 8px;
    padding-left: 35px;
}

h3{
    padding-left: 10px;
}