#container{
    width: 720px;
    text-align: justify;
    background-color: #fff;
    margin: auto;
}

body{
    background-color: #cccccc;
    font-family: Verdana;
    font-size: 11px;
}

p:first-letter{
    color: blue;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Times New Roman';
}