#container{
    width: 770px;
    text-align: justify;
    background-color: #fff;
    margin: auto;
}

body{
    background-color: #cccccc;
    font-family: Verdana;
    font-size: 11px;
    margin: 0;
}

p:first-letter{
    color: blue;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Times New Roman';
}

#content{
    width: 569px;
    height: 300px;
    float: left;
    background-color: #FFF;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1{
    background-color: #b0b0b0;
    padding-bottom: 9px;
    padding-top: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 32px;
}

p{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

h3{
    padding-left: 10px;
}